SQLITE_PATH=./data/fsre-sync.db
PORT=5000
LOG_LEVEL=info
MAIL_USERNAME=REPLACE_ME
MAIL_PASSWORD=REPLACE_ME
GOOGLE_APPLICATION_CREDENTIALS=/app/service_account_key.json
# EDUPAGE_TIMETABLE_URI=https://fsre.edupage.org/timetable/server/currenttt.js?__func=curentttGetData
# EDUPAGE_TIMETABLE_DB_URI=https://fsre.edupage.org/rpr/server/maindbi.js?__func=mainDBIAccessor
